.notification {
    padding: 10px;
    border-radius: 4px;
    margin: 20px 0px;
    &.success {
        border: 1px solid #329F5B;
        background: #329F5B;
        p {
            color: #EDF2F4;
        }
    }
    &.warning {
        border: 1px solid #D90429;
        background: #D90429;
        p {
            color: #EDF2F4;
        }
    }
}