.card {
  display: inline-block;
  padding: 5px 7.5px;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  background: #ef233c;
  border: 1px solid #ef233c;
  color: #edf2f4;
}
