.wrapper {
    padding: 20px;
    background-color: #EDF2F4;
    border-bottom: 1px solid #d4d8da;
    z-index: 999998;
    .logo {
        img {
            width: 120px;
        }
    }
    .nav {
        &__list {
            display: flex;
            align-items: center;
            list-style: none;
            span {
                margin-right: 20px;
                font-size: 20px;
                vertical-align: middle;
            }
        }
        &__item {
            margin: 0px 10px;
            a {
                color: #2B2D42;
                text-decoration: none;
                font-size: 20px;
                &:hover {
                    color: #EF233C;
                }
            }
        }
    }
}